/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/**********Global Styles**********/
body {
    max-width: 414px;
    margin: 0 auto;
}
.logos {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 0 7px 1px #0D0D0D;
}
.icon-tabler-tools-kitchen {
    background-color: #eb5842;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.head-icons {
    margin: auto;
}
nav a {
    font-family: Bebas Neue;
    font-size: 20px;
    text-decoration: none;
}
nav li {
    list-style-type: none;
}
.black {
    color: #0D0D0D;
}
.orange {
    color: #eb5842;
}
.top-left {
    position: relative;
    top: -23px;
    left: 35px;
    width: 40px;
}
.top-right {
    position: relative;
    top: -50px;
    right: -328px;
    width: 70px;
}
input {
    position: relative;
    top: -47px;
    left: 54px;
    width: 269px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #eb5842;
    border-style: solid;
}
.icon-tabler-search {
    position: relative;
    top: -87px;
    left: 323px;
}
h1{
    font-size: 40px;
    font-family: Bebas Neue;
    text-align: center;
    position: relative;
    top: -72px;
}
.bottom {
    display: inline-block;
    position: relative;
    top: 140px;
}

